@{
    ViewBag.Title = "Admin";
}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

@section Scripts{
    <script type="text/javascript">
        /////////////////////

        google.load("visualization", "1", { packages: ["geochart"] });
        google.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {

            var data = google.visualization.arrayToDataTable([
              ['Country', 'Popularity'],
              ['Germany', 200],
              ['United States', 300],
              ['Brazil', 400],
              ['Canada', 500],
              ['France', 600],
              ['RU', 700]
            ]);

            var options = {};

            var chart = new google.visualization.GeoChart(document.getElementById('regions'));

            chart.draw(data, options);
        }

        ///////////////////////////////

        $(document).ready(function () {
            //load data here
            var chartData = null;
            $.ajax({
                url: '/SalesPersonSales/GetSalesPersonData',
                type: 'GET',
                dataType: 'json',
                data: '',
                success: function (d) {
                    chartData = d;
                },
                error: function () {
                    alert('Error!');
                }
            }).done(function () {
                drawChart(chartData);
            });
        });

        google.load('visualization', '1', { packages: ['corechart'] });
        google.setOnLoadCallback(drawChart);

        function drawChart(d) {
            var chartData = d;
            var data = null;
            data = google.visualization.arrayToDataTable(chartData);

            google.load("visualization", "1", { packages: ["corechart"] });
            google.setOnLoadCallback(drawChart);

            var options = {
                title: 'Salesperson Sales',
                is3D: true
            };

            var chart = new google.visualization.PieChart(document.getElementById('pieChart'));
            chart.draw(data, options);
        }

        ///////////////////////////////

        $(document).ready(function () {
            //load data here
            var chartData = null;
            $.ajax({
                url: '/SalesData/GetSalesData',
                type: 'GET',
                dataType: 'json',
                data: '',
                success: function (d) {
                    chartData = d;
                },
                error: function () {
                    alert('Error!');
                }
            }).done(function () {
                drawBarChart(chartData);
            });
        });

        google.load('visualization', '1', { packages: ['corechart', 'bar'] });
        google.setOnLoadCallback(drawBarChart);

        function drawBarChart(d) {
            var chartData = d;
            var data = null;
            data = google.visualization.arrayToDataTable(chartData);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, {
                type: 'number',
                label: data.getColumnLabel(0),
                calc: function () { return 0; }
            }, {
                type: 'number',
                label: data.getColumnLabel(1),
                calc: function () { return 0; }
            }, {
                type: 'number',
                label: data.getColumnLabel(2),
                calc: function () { return 0; }
            }, {
                type: 'number',
                label: data.getColumnLabel(3),
                calc: function () { return 0; }

            }]);

            var chart = new google.visualization.ColumnChart(document.getElementById('barChart'));
            var options = {
                title: 'Total Sales',
                legend: 'bottom',
                hAxis: {
                    title: 'Calendar Year',
                    format: '#'
                },
                vAxis: {
                    minValue: 0,
                    maxValue: 1000000,
                    title: 'Sales Amount'
                },
                chartArea: {
                    left: 100, top: 50, width: '90%', height: '60%'
                },
                animation: {
                    duration: 1000
                }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('barChart'));
            chart.draw(data, options);
        }

    </script>
}

<div class="row">
    <h2>Administrator</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
    @Html.ActionLink("Manage Your To Does", "Index", new { controller = "ToDo" }, new { @class = "btn btn-primary" }) @Html.ActionLink("Manage All To Does", "All", new { controller = "ToDo" }, new { @class = "btn btn-primary" })
</div>
<hr />
<div class="row"><div id="regions" style="width: 100%; height: 500px;"></div></div>
<hr />
<div class="row">
    <div class="col-md-5">
        <div id="pieChart" style="width: 600px; height: 400px;"></div>
        @Html.ActionLink("Manage Salesperson Sales", "Index", new { controller = "SalesPersonSales" }, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-7">
        <div id="barChart" style="width: 600px; height: 400px;"></div>
        @Html.ActionLink("Manage Total Sales", "Index", new { controller = "SalesData" }, new { @class = "btn btn-primary" })
    </div>
</div>
